@font-face {
    font-family: 'Pacifico';
    src: url(./Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(./Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(./Lato-Bold.ttf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Pacifico', sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

ol{
    list-style: none;
}

input{
    border: none;
    outline: none;
    width: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: transparent;
}


p{
    text-align-last: center;
    color: rgb(19, 19, 19);
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.title{
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: rgba(252, 249, 94, 0.925);
    font-size: 4rem;
}

.input__container{
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 2rem auto;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, .6);
}

.search-icon{
    margin-right: .5rem;
    width: 24px;
    height: 24px;
    background-image: url(./search_black_24dp.svg);
}

.problem-container--center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection__image{
    width: 250px;
    height: 250px;
    background-image: url(./undraw_signal_searching_bhpc.svg);
}

.found__image{
    width: 250px;
    height: 250px;
    background-image: url(./undraw_not_found_60pq.svg);
}

.picture-grid{
    column-width: 202px;
    text-align: center;
}

.image{
    margin: 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cef;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }