@font-face {
    font-family: 'Pacifico';
    src: url(./Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(./Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(./Lato-Bold.ttf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Pacifico', sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

input{
    border: none;
    outline: none;
    width: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: transparent;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.title{
    margin: 2rem auto;
    text-align: center;
    color: rgba(252, 249, 94, 0.925);
    font-size: 4rem;
}

.input__container{
    max-width: 500px;
    margin: 0 auto 2rem auto;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, .6);
}

.picture-grid{
    column-width: 202px;
    text-align: center;
}

.image{
    margin: 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
}